<div nz-row class="filter-container">
    <div nz-col nzSpan="24">
        <form nz-form nz-row nzJustify="space-between" class="filter-form">
            <nz-form-item nz-col nzSpan="5">
              <label>Từ khóa tìm kiếm</label>
              <nz-input-group [nzSuffix]="inputClearTpl">
                <input type="text" nz-input [(ngModel)]="inputValue" placeholder="Nhập họ tên, mã nhân viên" name="email"/>
              </nz-input-group>
            </nz-form-item >

            <ng-template #inputClearTpl>
              <span
                nz-icon
                class="ant-input-clear-icon"
                nzTheme="fill"
                nzType="close-circle"
                *ngIf="inputValue !== null"
                (click)="inputValue = null"
              ></span>
            </ng-template>

            <nz-form-item nz-col nzSpan="4"  >
                <label nzFor="email">Chức vụ</label>
                <nz-form-control >
                  <nz-select nzShowSearch nzAllowClear nzPlaceHolder="--Chọn--">
                    <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
                    <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
                    <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item >

              <nz-form-item nz-col nzSpan="4"  >
                <label nzFor="email">Phòng ban</label>
                <nz-form-control >
                  <nz-select nzShowSearch nzAllowClear nzPlaceHolder="--Chọn--">
                    <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
                    <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
                    <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item >
              <nz-form-item nz-col nzSpan="4"  >
                <label nzFor="email">Giới tính</label>
                <nz-form-control >
                  <nz-select nzShowSearch nzAllowClear nzPlaceHolder="--Chọn--">
                    <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
                    <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
                    <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item >

              <nz-form-item nz-col nzSpan="5"  >
                <label nzFor="email">Loại hợp đồng</label>
                <nz-form-control >
                  <nz-select nzShowSearch nzAllowClear nzPlaceHolder="--Chọn--">
                    <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
                    <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
                    <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item >

              <nz-form-item nz-col nzSpan="4" >
                <label nzFor="email">Trạng thái</label>
                <nz-form-control >
                  <nz-select nzShowSearch nzAllowClear nzPlaceHolder="--Chọn--">
                    <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
                    <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
                    <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
                    <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
                    <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
                    <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
                    <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
                    <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
                    <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
                    <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
                    <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
                    <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item >

              <nz-form-item nz-col nzSpan="20" class="filter-btn-wrapper">
                <button nz-button nzDanger >
                    <span nz-icon nzType="reload" nzTheme="outline"></span>
                    Đặt lại
                </button>
                <button nz-button nzDanger nzType="primary">
                    <span nz-icon nzType="search"></span>
                    Tìm kiếm
                </button>
              </nz-form-item >
        </form>
    </div>
</div>