
<div class="header-wrapper">
    <div nz-row nzAlign="middle" class="header">
        <div nz-col nzSpan="3" class="header-logo">
            <img src="https://hrm.orenda.vn/assets/media/logos/logo-1.svg" alt="">
        </div>
        <div nz-col nzSpan="21" class="navbar-wrapper">
        <div class="navbar">
            <div class="user-name">
                <img src="assets/images/user.png" alt="">
                <span>{{user?.userName}}</span>
                <span class="down-icon" nz-icon nzType="down" nzTheme="outline"></span>
                <ul class="header-action">
                    <li (click)="handleLogout()"><span nz-icon nzType="logout" nzTheme="outline"></span> Đăng xuất</li>                 
                </ul>
            </div>         
        </div>
        </div>
    </div>
</div>

