
<div class="header-wrapper">
    <div nz-row nzAlign="middle" class="header">
        <div nz-col nzSpan="3" class="header-logo">
            <img src="https://hrm.orenda.vn/assets/media/logos/logo-1.svg" alt="">
        </div>
        <div nz-col nzSpan="21" class="navbar-wrapper">
        <div class="navbar">
            <span class="menu-icon" nz-icon nzType="menu" nzTheme="outline"></span>
            <div class="user-name">
                <img src="../../../assets/images/user.png" alt="">
                <span>thinhnd</span>
                <span class="down-icon" nz-icon nzType="down" nzTheme="outline"></span>
            </div>
        </div>
        </div>
    </div>
</div>

