.header-wrapper{
    height: 69px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #EEEEEE;
    .header{
        height: 69px !important;
        .header-logo{
            text-align: center;
            font-weight: 500;
            font-size: 25px;
            color: #333;
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            img{
                width: auto;
                height: 52px;
            }
        }
        .navbar-wrapper{
            height: 100%;
            .navbar{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                padding: 0 20px;
                .menu-icon{
                    font-size: 20px;
                    font-weight: bold;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .user-name{
                    height: 100%;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    position: relative;
                    &:hover .header-action{
                        display: flex;
                    }
                    .header-action{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: max-content;
                        height: auto;
                        padding: 10px;
                        position: absolute;
                        top: 68px;
                        right: 0;
                        background-color: #FFFFFF;
                        border: 1px solid rgba(128, 128, 128, 0.164);
                        border-radius: 5px;
                        list-style: none;
                        z-index: 999;
                        display: none;
                        &:hover{
                            color: gray;
                        }
                    }
                    img{
                        width: auto;
                        height: 36px;
                    }
                    .user-icon{
                        font-size: 16px;
                        font-weight: bold;
                    }
                    .down-icon{
                        font-size: 10px;
                        display: flex;
                        font-weight: bold;
                        height: 100%;
                        justify-content: center;
                        align-items: center;
                    }
                    span{
                        &:nth-child(2){
                            font-size: 16px;
                            font-weight: 500;
                            margin: 0 5px;
                            color: gray;
                        }
                    }
                }
            }
        }
    }
}