<form nz-form nz-row [formGroup]="formGroupItem" >
    <nz-form-item  nz-col nzSpan="6" class="input-item"  >
        <label nzFor="">Tỉnh/Thành phố</label>
        <nz-form-control >
          <nz-select (ngModelChange)="handleChangeCity($event)" nzShowSearch nzAllowClear nzPlaceHolder="--Chọn--" formControlName="city">
            <nz-option *ngFor="let item of provinces" [nzLabel]="item.name" [nzValue]="item.name"></nz-option>      
          </nz-select>
        </nz-form-control>
    </nz-form-item >

    <nz-form-item  nz-col nzSpan="6" class="input-item">
        <label nzFor="">Quận/Huyện</label>
        <nz-form-control >
          <nz-select (ngModelChange)="handleChageDistrict($event)" nzShowSearch nzAllowClear nzPlaceHolder="--Chọn--" formControlName="district">
            <nz-option *ngFor="let item of districts" [nzLabel]="item.name" [nzValue]="item.name"></nz-option>
          </nz-select>
        </nz-form-control>
    </nz-form-item >

    <nz-form-item  nz-col nzSpan="6" class="input-item" >
        <label nzFor="">Xã/Phường</label>
        <nz-form-control >
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="--Chọn--" formControlName="wards">
            <nz-option *ngFor="let item of wards" [nzLabel]="item.name" [nzValue]="item.name"></nz-option>
          
          </nz-select>
        </nz-form-control>
    </nz-form-item >

    <nz-form-item  nz-col nzSpan="6" class="input-item"  >
        <label nzFor="">Số nhà đường phố</label>
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input  placeholder="" name="house-number" formControlName="houseNumber"/>
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span
              nz-icon
              class="ant-input-clear-icon"
              nzTheme="fill"
              nzType="close-circle"
              ></span>
         </ng-template>
      </nz-form-item>
  </form>
