<div nz-row class="action-wrapper">
    <div  nz-col nzSpan="24" class="action-title">
        <span nz-col nzSpan="23">{{formMode | employeeTitle:userNameUpdate.toString()}}</span>
        <span (click)="handleSetComponentRendering(1)" nz-col nzSpan="1" nz-icon nzType="close" nzTheme="outline"></span>
    </div>
    <nz-tabset nz-col nzSpan="24" class="action-nav">
        <nz-tab nzTitle="Thông tin cơ bản">
            <div class="action-form-wrapper">
                <div nz-row class="form-item-wrapper">
                    <div  nz-col nzSpan="24" class="form-title">
                        <img src="assets/images/overviewInfo.png" alt="">
                        <h3>Thông tin chung</h3>
                    </div>                  
                    <div nz-col nzSpan="24" class="form-container">
                        <form nz-form nz-row  class="form-item" [formGroup]="this.employeeForm">
                          <nz-form-item  nz-col nzSpan="6" class="input-item">
                            <label><span>*</span> Mã nhân viên</label> <span class="form-error-text">{{errorsMessage.employeeCode}}</span><br/>
                            
                                <nz-input-group [nzSuffix]="inputClearTpl">
                                  <input type="text" nz-input  name="code" formControlName="code" />
                                </nz-input-group>                  
                            </nz-form-item >
        
                            <nz-form-item  nz-col nzSpan="6" class="input-item">
                                <label><span>*</span> Họ và tên</label> <span class="form-error-text">{{errorsMessage.fullName}}</span><br/>
                                
                                <nz-input-group [nzSuffix]="inputClearTpl">
                                  <input type="text" nz-input name="fullName" formControlName="fullName" />
                                </nz-input-group>       
                            </nz-form-item >
        
        
                            <nz-form-item  nz-col nzSpan="6" class="input-item">
                                <label class="date-lable">Ngày sinh</label>
                                <nz-date-picker nzPlaceHolder="Ngày/Tháng/Năm" nz-row formControlName="dob"></nz-date-picker>
                            </nz-form-item >
                            
                            <nz-form-item  nz-col nzSpan="6" class="input-item"  >
                                <label nzFor="">Giới tính</label>
                                <nz-form-control >
                                  <nz-select formControlName="gender" nzShowSearch nzAllowClear nzPlaceHolder="--Chọn--">
                                    <nz-option nzLabel="Nam" nzValue="1"></nz-option>
                                    <nz-option nzLabel="Nữ" nzValue="2"></nz-option>
                                    <nz-option nzLabel="Khác" nzValue="3"></nz-option>
                                  </nz-select>
                                </nz-form-control>
                            </nz-form-item >
        
                            <nz-form-item  nz-col nzSpan="6" class="input-item">
                                <label><span>*</span>Điện thoại</label> <span class="form-error-text">{{errorsMessage.phoneNumber}}</span><br/>
                                
                                <nz-input-group [nzSuffix]="inputClearTpl">
                                  <input type="text" nz-input name="phoneNumber" formControlName="phoneNumber" />
                                </nz-input-group>       
                            </nz-form-item >
        
                            <nz-form-item  nz-col nzSpan="6" class="input-item">
                                <label>Email cơ quan</label>
                                <nz-input-group [nzSuffix]="inputClearTpl">
                                  <input type="email" nz-input name="organEmail" formControlName="organEmail" />
                                </nz-input-group>       
                            </nz-form-item >
        
                          </form>
                    </div>
                </div>
        
                <div nz-row class="form-item-wrapper">
                    <div  nz-col nzSpan="24" class="form-title">
                        <img src="assets/images/overviewInfo.png" alt="">
                        <h3>Thông tin công việc</h3>
    
                    </div>
                    <div  nz-col nzSpan="24" class="form-container">
                        <form nz-form nz-row class="form-item form-group" [formGroup]="getWorkInfoDto">
                            <nz-form-item  nz-col nzSpan="6" class="input-item"  >
                                <label nzFor="">Chức vụ</label>
                                <nz-form-control >
                                  <nz-select nzShowSearch nzAllowClear nzPlaceHolder="--Chọn--" formControlName="positionId" >
                                    <nz-option nzLabel="CEO" nzValue="1"></nz-option>
                                    <nz-option nzLabel="Giám đốc sản xuất" nzValue="2"></nz-option>
                                    <nz-option nzLabel="Giám đốc trung tâm" nzValue="3"></nz-option>
                                    <nz-option nzLabel="Kế toán" nzValue="4"></nz-option>
                                    <nz-option nzLabel="Lập trình viên" nzValue="5"></nz-option>
                                  </nz-select>
                                 
                                </nz-form-control>
                            </nz-form-item >
                            <nz-form-item  nz-col nzSpan="6" class="input-item"  >
                                  <label nzFor="">Đơn vị</label>                        
                                  <app-tree-select [formGroupItem]="getWorkInfoDto"/>         
                            </nz-form-item >
                            <nz-form-item  nz-col nzSpan="6" class="input-item"  >
                                <label nzFor="">Người quản lý trực tiếp</label>
                                <nz-form-control >
                                  <nz-select nzShowSearch nzAllowClear nzPlaceHolder="--Chọn--" formControlName="managerId">
                                    <nz-option nzLabel="Nguyễn Văn Sơn" nzValue="1"></nz-option>
                                    <nz-option nzLabel="Nguyễn Xuân công" nzValue="2"></nz-option>
                                    <nz-option nzLabel="Hà Đức Huy" nzValue="3"></nz-option>
                                    <nz-option nzLabel="Cao Thị Thùy Linh" nzValue="4"></nz-option>
                                    <nz-option nzLabel="Trần Đăng Hiệu" nzValue="5"></nz-option>
                                    <nz-option nzLabel="Nguyễn Tuấn Minh" nzValue="6"></nz-option>
                                  </nz-select>
                                </nz-form-control>
                            </nz-form-item >
                            <nz-form-item  nz-col nzSpan="6" class="input-item"  >
                                <label nzFor="">Trạng thái lao động</label>
                                <nz-form-control >
                                  <nz-select nzShowSearch nzAllowClear nzPlaceHolder="--Chọn--" formControlName="status">
                                    <nz-option nzLabel="Đang làm việc" nzValue="1"></nz-option>
                                    <nz-option nzLabel="Đã nghỉ việc" nzValue="2"></nz-option>
                             
                                  </nz-select>
                                </nz-form-control>
                            </nz-form-item >
                            <nz-form-item  nz-col nzSpan="6" class="input-item"  >
                                <label nzFor="">Loại hợp đồng</label>
                                <nz-form-control >
                                  <nz-select nzShowSearch nzAllowClear nzPlaceHolder="--Chọn--" formControlName="contractType">
                                    <nz-option nzLabel="Hợp đồng thử việc" nzValue="1"></nz-option>
                                    <nz-option nzLabel="Hợp đồng chính thức" nzValue="2"></nz-option>
                                    <nz-option nzLabel="Hợp đồng học việc" nzValue="3"></nz-option>
                                  </nz-select>
                                </nz-form-control>
                            </nz-form-item >
                            <nz-form-item  nz-col nzSpan="6" class="input-item"  >
                                <label nzFor="">Tính chất công việc</label>
                                <nz-form-control >
                                  <nz-select nzShowSearch nzAllowClear nzPlaceHolder="--Chọn--" formControlName="workType">
                                    <nz-option nzLabel="Làm việc từ xa" nzValue="1"></nz-option>
                                    <nz-option nzLabel="Toàn thời gian" nzValue="2"></nz-option>
                                    <nz-option nzLabel="Bán thời gian" nzValue="3"></nz-option>
                                    <nz-option nzLabel="Theo mùa trong năm" nzValue="4"></nz-option>
                                  </nz-select>
                                </nz-form-control>
                            </nz-form-item >
        
                            <nz-form-item  nz-col nzSpan="6" class="input-item">
                                <label>Mã số chấm công</label>
                                <nz-input-group [nzSuffix]="inputClearTpl">
                                  <input type="text" nz-input name="employeeTimekeeping" formControlName="timeKeeperCode" />
                                </nz-input-group>       
                            </nz-form-item >
        
                            <nz-form-item  nz-col nzSpan="6" class="input-item">
                                <label>Miễn chấm công</label>
                                <nz-form-control>
                                    <nz-switch formControlName="isExemptTimeKeeper"></nz-switch> 
                                </nz-form-control>
                            </nz-form-item >
        
                            <nz-form-item  nz-col nzSpan="6" class="input-item">
                                <label>ID Google lịch</label>
                                <nz-input-group [nzSuffix]="inputClearTpl">
                                  <input type="text" nz-input name="employeeGgId" formControlName="googleCalendarId" />
                                </nz-input-group>       
                            </nz-form-item >
                          </form>
                    </div>
                </div>
        
                <div nz-row class="form-item-wrapper">
                    <div  nz-col nzSpan="24" class="form-title">
                        <img src="assets/images/identifyNumber.png" alt="">
                        <h3>Thông tin khác</h3>
                    </div>
                    <div  nz-col nzSpan="24" class="form-container">
                        <form nz-form nz-row class="form-item" [formGroup]="this.employeeForm">
                            <nz-form-item  nz-col nzSpan="6" class="input-item"  >
                                <label nzFor="">Loại giấy tờ</label>
                                <nz-form-control >
                                  <nz-select nzShowSearch nzAllowClear nzPlaceHolder="--Chọn--" formControlName="identifyType">
                                    <nz-option nzLabel="Căn cước công dân" nzValue="1"></nz-option>
                                    <nz-option nzLabel="Chứng minh thư" nzValue="2"></nz-option>
                            
                                  </nz-select>
                                </nz-form-control>
                            </nz-form-item >
                            <nz-form-item  nz-col nzSpan="6" class="input-item">
                                <label>Số giấy tờ</label>
                                <nz-input-group [nzSuffix]="inputClearTpl">
                                  <input type="text" nz-input name="employeePapperNum" formControlName="identifyNumber" />
                                </nz-input-group>       
                            </nz-form-item >
                            <nz-form-item  nz-col nzSpan="6" class="input-item">
                                <label class="date-lable">Ngày cấp</label>
                                <nz-date-picker nzPlaceHolder="Ngày/Tháng/Năm" nz-row formControlName="identifyDateRange" ></nz-date-picker>
                            </nz-form-item >
                            <nz-form-item  nz-col nzSpan="6" class="input-item">
                                <label>Nơi cấp</label>
                                <nz-input-group [nzSuffix]="inputClearTpl">
                                  <input type="text" nz-input name="employeeIssuedBy" formControlName="identifyIssuedBy"/>
                                </nz-input-group>       
                            </nz-form-item >
        
                            <nz-form-item  nz-col nzSpan="6" class="input-item">
                                <label>Mã số thuế</label>
                                <nz-input-group [nzSuffix]="inputClearTpl">
                                  <input type="text" nz-input name="TaxCode" formControlName="taxtCode"/>
                                </nz-input-group>       
                            </nz-form-item >
        
                            <nz-form-item  nz-col nzSpan="6" class="input-item">
                                <label class="date-lable">Ngày cấp MST</label>
                                <nz-date-picker nzPlaceHolder="Ngày/Tháng/Năm" nz-row formControlName="taxtCodeDateRange" ></nz-date-picker>
                            </nz-form-item >
        
                            <nz-form-item  nz-col nzSpan="6" class="input-item">
                                <label>Nơi cấp MST</label>
                                <nz-input-group [nzSuffix]=" ">
                                  <input type="text" nz-input name="employeeIssuedByTaxtCode" formControlName="taxtCodeIssuedBy"/>
                                </nz-input-group>       
                            </nz-form-item >
        
                            <nz-form-item  nz-col nzSpan="6" class="input-item">
                                <label>Email cá nhân</label>
                                <nz-input-group [nzSuffix]="inputClearTpl">
                                  <input type="text" nz-input name="employee-personal-email" formControlName="personalEmail" />
                                </nz-input-group>       
                            </nz-form-item >
        
                            <nz-form-item  nz-col nzSpan="6" class="input-item"  >
                                <label nzFor="">Ngân hàng</label>
                                <nz-form-control >
                                  <nz-select nzShowSearch nzAllowClear nzPlaceHolder="--Chọn--" formControlName="bank">
                                    <nz-option nzLabel="Techcombank" nzValue="1"></nz-option>
                                    <nz-option nzLabel="BIDV" nzValue="2"></nz-option>
                                    <nz-option nzLabel="MB Bank" nzValue="3"></nz-option>
                                  </nz-select>
                                </nz-form-control>
                            </nz-form-item >
        
                        
                                <nz-form-item  nz-col nzSpan="6" class="input-item" >
                                    <label nzFor="">Số tài khoản ngân hàng</label>
                                    <nz-input-group [nzSuffix]=" ">
                                      <input type="text" nz-input name="bankAccount" formControlName="bankAccount"/>
                                    </nz-input-group>       
                                </nz-form-item >
                            
        
                          </form>
                    </div>
                </div>
        
        
                <div nz-row class="form-item-wrapper">
                    <div  nz-col nzSpan="24" class="form-title">
                        <img src="assets/images/educationInfo.png" alt="">
                        <h3>Trình độ học vấn</h3>
                    </div>
                    <div nz-col nzSpan="24" class="form-container">
                        <table nz-row class="education-table">              
                              <tr nz-row class="education-table-head">
                                <th nz-col nzSpan="3">Từ năm</th>
                                <th nz-col nzSpan="3">Đến năm</th>
                                <th nz-col nzSpan="3">Nơi đào tạo</th>
                                <th nz-col nzSpan="3">Chuyên ngành</th>
                                <th nz-col nzSpan="3">Bằng cấp</th>
                                <th nz-col nzSpan="3">Xếp loại</th>
                                <th nz-col nzSpan="3">Năm tốt nghiệp</th>
                                <th nz-col nzSpan="3"></th>
                              </tr>        
                              <div nz-col nzSpan="24" *ngFor="let control of educations.controls; index as i">                               
                                    <form nz-form nz-row class="education-form" [formGroup]="control">
                                        <nz-form-item nz-col nzSpan="3">    
                                          <nz-form-control>
                                            <nz-input-group [nzSuffix]="inputClearTpl">
                                              <input type="number" nz-input name="fromYear" formControlName="fromYear"/>
                                            </nz-input-group>    
                                          </nz-form-control>                             
                                        </nz-form-item >
                                        <nz-form-item nz-col nzSpan="3">    
                                          <nz-form-control>
                                            <nz-input-group [nzSuffix]="inputClearTpl">
                                              <input type="number" nz-input name="toYear" formControlName="toYear"/>
                                            </nz-input-group>    
                                          </nz-form-control>                             
                                          </nz-form-item >
                                          <nz-form-item nz-col nzSpan="3">                                 
                                            <nz-form-control>
                                              <nz-input-group [nzSuffix]="inputClearTpl">
                                              <input type="text" nz-input name="educationPlace" formControlName="educationPlace"/>
                                            </nz-input-group>    
                                            </nz-form-control>
                                          </nz-form-item >
                                          <nz-form-item nz-col nzSpan="3">                                 
                                            <nz-form-control>
                                              <nz-input-group [nzSuffix]="inputClearTpl">
                                              <input type="text" nz-input name="specialize" formControlName="specialized"/>
                                            </nz-input-group>    
                                            </nz-form-control>
                                          </nz-form-item >
                                          <nz-form-item nz-col nzSpan="3">                                 
                                            <nz-form-control>
                                              <nz-input-group [nzSuffix]="inputClearTpl">
                                              <input type="text" nz-input name="degree" formControlName="degree"/>
                                            </nz-input-group>    
                                            </nz-form-control>
                                          </nz-form-item >
                                          <nz-form-item nz-col nzSpan="3">                                 
                                            <nz-form-control>
                                              <nz-input-group [nzSuffix]="inputClearTpl">
                                              <input type="text" nz-input name="classification" formControlName="classification"/>
                                            </nz-input-group>    
                                            </nz-form-control>
                                          </nz-form-item >
                                          <nz-form-item nz-col nzSpan="3">                                 
                                            <nz-form-control>
                                              <nz-input-group [nzSuffix]="inputClearTpl">
                                              <input type="text" nz-input name="gaduationYear" formControlName="graduationYear"/>
                                            </nz-input-group>    
                                            </nz-form-control>
                                          </nz-form-item >
                                          <nz-form-item nz-col nzSpan="3">                                 
                                            <nz-form-control>
                                                <div class="wrapper-icon">
                                                    <span nz-icon nzType="delete" nzTheme="outline"></span>
                                                </div>
                                            </nz-form-control>
                                          </nz-form-item >                                      
                                    </form>
                                </div>
                                <tfoot nz-col nzSpan="24">
                                    <div nz-row class="education-table-footer">
                                        <div class="education-add-btn" (click)="handleAddForm('education')">
                                            <span nz-icon nzType="plus" nzTheme="outline"></span>
                                            <span>
                                                Thêm mới trình độ học vấn
                                            </span>
                                        </div>
                                       
                                    </div>
                                </tfoot>
                                                        
                          </table>
                    </div>
                </div>


                <div nz-row class="form-item-wrapper">
                    <div  nz-col nzSpan="20" class="form-title">
                        <img src="assets/images/educationInfo.png" alt="">
                        <h3>Kinh nghiệm làm việc</h3>
                    </div>

                    <div nz-col nzSpan="4" class="exp-add-btn">
                        <button nz-button nzDanger nzType="primary" (click)="handleAddForm('experience')">
                            <span nz-icon></span>
                            Thêm mới
                          </button>
                    </div>
                    <div nz-col nzSpan="24" class="form-container">
                        <table nz-row class="education-table">              
                              <tr nz-row class="experience-table-head">
                                <th nz-col nzSpan="3">Từ ngày</th>
                                <th nz-col nzSpan="3">Đến ngày</th>
                                <th nz-col nzSpan="3">Nơi làm việc</th>
                                <th nz-col nzSpan="3">Vị trí công việc</th>
                                <th nz-col nzSpan="3">Thông tin người đối chiếu</th>
                                <th nz-col nzSpan="3">Đã kiểm tra đối chiếu</th>
                                <th nz-col nzSpan="3">Ghi chú</th>
                                <th nz-col nzSpan="3">Thao tác</th>
                               
                              </tr>        
                              <div nz-col nzSpan="24"  *ngFor="let control of experiences.controls; index as i" >                               
                                    <form nz-form nz-row class="education-form" [formGroup]="control">
                                        <nz-form-item nz-col nzSpan="3">                                 
                                          <nz-form-control class="text-area-wrapper">
                                            <textarea class="text-area-item" nz-input placeholder="" nzAutosize formControlName="fromYear"></textarea>
                                          </nz-form-control>
                                        </nz-form-item >
                                        <nz-form-item nz-col nzSpan="3">                                 
                                            <nz-form-control class="text-area-wrapper">
                                              <textarea class="text-area-item" nz-input placeholder="" nzAutosize formControlName="toYear"></textarea>
                                            </nz-form-control>
                                          </nz-form-item >
                                          <nz-form-item nz-col nzSpan="3">                                 
                                            <nz-form-control class="text-area-wrapper">
                                              <textarea class="text-area-item" nz-input placeholder="" nzAutosize formControlName="workPlace"></textarea>
                                            </nz-form-control>
                                          </nz-form-item >
                                          <nz-form-item nz-col nzSpan="3">                                 
                                            <nz-form-control class="text-area-wrapper">
                                              <textarea class="text-area-item" nz-input placeholder="" nzAutosize formControlName="workPosition"></textarea>
                                            </nz-form-control>
                                          </nz-form-item >
                                          <nz-form-item nz-col nzSpan="3">                                 
                                            <nz-form-control class="text-area-wrapper">
                                              <textarea class="text-area-item" nz-input placeholder="" nzAutosize formControlName="personCompare"></textarea>
                                            </nz-form-control>
                                          </nz-form-item >
                                          <nz-form-item nz-col nzSpan="3">                                 
                                            <nz-form-control class="text-area-wrapper">                                           
                                              <div nz-checkbox formControlName="isCheckedCompare"></div>
                                            </nz-form-control>
                                          </nz-form-item >
                                          <nz-form-item nz-col nzSpan="3">                                 
                                            <nz-form-control class="text-area-wrapper">
                                              <textarea class="text-area-item" nz-input placeholder="" nzAutosize formControlName="note"></textarea>
                                            </nz-form-control>
                                          </nz-form-item >
                                          <nz-form-item nz-col nzSpan="3">                                 
                                            <nz-form-control class="text-area-wrapper icon">
                                                <div class="wrapper-icon">
                                                    <span nz-icon nzType="delete" nzTheme="outline"></span>
                                                </div>
                                            </nz-form-control>
                                          </nz-form-item >                                      
                                    </form>
                             </div>
                                
                                                        
                          </table>
                    </div>
                </div>

                <div nz-row class="form-item-wrapper">
                  <div  nz-col nzSpan="20" class="form-title">
                      <h3>File đính kèm</h3>
                  </div>

                  <div nz-col nzSpan="24" class="form-container">
                    <nz-table #borderedTable nzBordered class="upload-file-table">
                      <thead>
                        <tr>
                          <th>STT</th>
                          <th>Tên file</th>
                          <th>Ngày upload</th>
                          <th>Thao tác</th>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- <tr >
                          <td>1</td>
                          <td>nguyenducthinh.pdf</td>
                          <td>20/12/2023</td>
                          <td class="table-file-action">                         
                            <div class="wrapper-icon">
                              <span nz-icon nzType="eye" nzTheme="outline"></span> 
                          </div>                  
                          </td>
                        </tr> -->
                      </tbody>
                    </nz-table>
                  </div>
              </div>
              <form style="margin-top: 30px;" nz-form nz-col nzSpan="24" class="form-item form-group" [formGroup]="getFileDto">
                <nz-upload
                nzType="drag"
                [nzMultiple]="true"
                nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
             
              >
                  <p class="ant-upload-drag-icon">
                    <span nz-icon nzType="inbox"></span>
                  </p>
                  <p class="ant-upload-text">Chỉ hỗ trợ đính kèm tài liệu(.doc, .excel, .pdf) và file ảnh với dung lượng tối đa 20Mb</p>
               
              </nz-upload>
              </form>
               
            </div>
        </nz-tab>
        <nz-tab nzTitle="Thông tin nhân sự">
          <div class="action-form-wrapper">
            <div nz-row class="form-item-wrapper">
                <div  nz-col nzSpan="24" class="form-title">
                    <img src="assets/images/permanentResident.png" alt="">
                    <h3>Hộ khẩu thường trú</h3>
                </div>
                <div nz-col nzSpan="24" class="form-container">
                   <app-address-form [formGroupItem]="getPermanentResidenceDto" [addressItem] = "employeeUpdate && employeeUpdate.permanentResidenceDto">

                   </app-address-form>
                </div>
            </div>

            <div nz-row class="form-item-wrapper">
              <div  nz-col nzSpan="24" class="form-title">
                  <img src="assets/images/contactAddress.png" alt="">
                  <h3>Địa chỉ hiện tại</h3>
              </div>
              <div nz-col nzSpan="24" class="form-container">
                 <app-address-form [formGroupItem]="getNowAddressDto" [addressItem] = "employeeUpdate && employeeUpdate.nowAddressDto"></app-address-form>
              </div>
          </div>


          <div nz-row class="form-item-wrapper">
            <div  nz-col nzSpan="24" class="form-title">
                <img src="assets/images/contactAddress.png" alt="">
                <h3>Quê quán</h3>
            </div>
            <div nz-col nzSpan="24" class="form-container">
               <app-address-form [formGroupItem]="getHometownDto" [addressItem] = "employeeUpdate && employeeUpdate.hometownDto"></app-address-form>
            </div>
        </div>

        <div nz-row class="form-item-wrapper">
          <div  nz-col nzSpan="24" class="form-title">
              <img src="assets/images/contactUrgent.png" alt="">
              <h3>Liên hệ khẩn cấp</h3>
          </div>
          <div  nz-col nzSpan="24" class="form-container">
              <form nz-form nz-row  class="form-item" [formGroup]="getUrgentContactDto">
                  <nz-form-item  nz-col nzSpan="6" class="input-urgent-item">
                      <label>Họ và tên</label>
                      <nz-form-control>
                        <input nz-input name="email" type="text" id="email" placeholder="" formControlName="fullName">
                      </nz-form-control>
                  </nz-form-item >
                  
                  <nz-form-item  nz-col nzSpan="6" class="input-urgent-item"  >
                      <label nzFor="">Quan hệ</label>
                      <nz-form-control >
                        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="--Chọn--" formControlName="relational">
                          <nz-option nzLabel="Bố" nzValue="1"></nz-option>
                          <nz-option nzLabel="Mẹ" nzValue="2"></nz-option>
                          <nz-option nzLabel="Vợ" nzValue="3"></nz-option>
                          <nz-option nzLabel="Chồng" nzValue="4"></nz-option>
                        </nz-select>
                      </nz-form-control>
                  </nz-form-item >

                  <nz-form-item  nz-col nzSpan="6" class="input-urgent-item">
                      <label>Điện thoại</label>
                      <nz-form-control>
                          <input nz-input name="email" type="text" id="email" placeholder="" formControlName="phoneNumber">
                      </nz-form-control>
                  </nz-form-item >
                </form>
          </div>
      </div>
           
      </div>

        </nz-tab>
        <nz-tab nzTitle="Thông tin hợp đồng lao động">
          <div class="action-form-wrapper">
            <div nz-row class="form-item-wrapper">
                <div  nz-col nzSpan="24" class="form-title">
                    <img src="assets/images/employeeSalary.png" alt="">
                    <h3>Thông tin lương</h3>
                </div>
                <div  nz-col nzSpan="24" class="form-container">
                    <form nz-form nz-row  class="form-item" [formGroup]="getSalaryInfoDto">
                        <nz-form-item  nz-col nzSpan="6" class="input-item">
                            <label>Bậc lương</label>
                            <nz-input-group [nzSuffix]="inputClearTpl">
                              <input type="text" nz-input name="wage" formControlName="levelSalary" />
                            </nz-input-group>    
                        </nz-form-item >
    
                        <nz-form-item  nz-col nzSpan="6" class="input-item">
                            <label>Lương Gross</label>
                            <nz-form-control>
                              <nz-input-number  style="width: 100%;" [nzFormatter]="formater" [nzMin]="1"  [nzStep]="1" formControlName="grossSalary"></nz-input-number>
                            </nz-form-control>
                        </nz-form-item >
    
    
                        <nz-form-item  nz-col nzSpan="6" class="input-item">
                            <label class="date-lable">Lương Net</label>
                            <nz-input-number  style="width: 100%;" [nzFormatter]="formater"  [nzMin]="1"  [nzStep]="1" formControlName ="netSalary"></nz-input-number>
                        </nz-form-item >
                        
                        <nz-form-item  nz-col nzSpan="6" class="input-item"  >
                            <label nzFor="">Lương cơ bản</label>
                            <nz-form-control >
                              <nz-input-number  style="width: 100%;" [nzFormatter]="formater" [nzMin]="1"  [nzStep]="1" formControlName="basicSalary"></nz-input-number>
                            </nz-form-control>
                        </nz-form-item >
    
                  
    
                        <nz-form-item  nz-col nzSpan="6" class="input-item">
                            <label>Lương đóng bảo hiểm</label>
                            <nz-form-control>
                              <nz-input-number  style="width: 100%;" [nzFormatter]="formater" [nzMin]="1"  [nzStep]="1" formControlName="insuranceSalary"></nz-input-number>
                            </nz-form-control>
                        </nz-form-item >
    
                        <nz-form-item   nz-col nzSpan="6" class="input-item">
                          <label>Lương tổng</label>
                          <nz-form-control>
                            <nz-input-number style="width: 100%;" [nzFormatter]="formater" nz-input [nzMin]="1" val [nzStep]="1" formControlName="totalSalary"  name="email"  type="text" id="email" placeholder="" class="disable-input"/>
                          </nz-form-control>
                      </nz-form-item >
                      </form> 
                </div>
            </div>
    
         
           
            <div nz-row class="form-item-wrapper">
                <div  nz-col nzSpan="24" class="form-title">
                    <img src="assets/images/employeeAllowanceList.png" alt="">
                    <h3>Các khoản phụ cấp</h3>
                </div>
                <div nz-col nzSpan="24" class="form-container">
                    <table nz-row class="education-table ">              
                          <tr nz-row class="education-table-head salary-table-head">
                            <th nz-col nzSpan="1">STT</th>
                            <th nz-col nzSpan="5">Tên khoản phụ cấp</th>
                            <th nz-col nzSpan="9">Giá trị</th>
                            <th nz-col nzSpan="9"></th>
                          </tr>    
                          
                           <div nz-col nzSpan="24" *ngFor="let control of allowanceSalarys.controls; index as i">
                             <form nz-row nz-form class="salary-form" [formGroup]="control">
                                 <td nz-col nzSpan="1">
                                   <nz-form-item class="input-item">
                                     <nz-form-control>
                                       {{i + 1}}
                                     </nz-form-control>
                                 </nz-form-item >
                                 </td>
                                 <td nz-col nzSpan="5">
                                   <nz-form-item class="input-urgent-item"  >         
                                       <nz-form-control >
                                         <nz-select nzShowSearch nzAllowClear nzPlaceHolder="--Chọn--" formControlName="allowanceName">
                                           <nz-option nzLabel="Phụ cấp điện thoại" nzValue="1"></nz-option>
                                           <nz-option nzLabel="Phụ cấp đi lại" nzValue="2"></nz-option>
                                           <nz-option nzLabel="Phụ cấp hàng tháng" nzValue="3"></nz-option>
                                         </nz-select>
                                       </nz-form-control>
                                 </nz-form-item >
                                 </td>
                                 <td nz-col nzSpan="9">
                                   <nz-form-item class="input-item">
                                     <nz-form-control>
                                       <nz-input-number  style="width: 100%;" [nzFormatter]="formater" [nzMin]="1"  [nzStep]="1" formControlName="value"></nz-input-number>
                                     </nz-form-control>
                                   </nz-form-item >
                                 </td>
   
                                 <td nz-col nzSpan="9">
                                   <nz-form-item class="input-item">
                                     <nz-form-control>
                                       <div class="wrapper-icon" style="float: right;">
                                         <span nz-icon nzType="delete" nzTheme="outline"></span>
                                       </div>
                                     </nz-form-control>
                                   </nz-form-item >                
                                 </td>
   
                                </form>
                           </div>

                          <tfoot nz-col nzSpan="24">
                              <div nz-row class="education-table-footer">
                                  <div class="education-add-btn" (click)="handleAddForm('allowenceSalary')">
                                      <span nz-icon nzType="plus" nzTheme="outline"></span>
                                      <span>
                                          Thêm phụ cấp
                                      </span>
                                  </div>
                                  
                              </div>
                          </tfoot>
                                                    
                      </table>
                </div>
            </div>

            <div nz-row class="form-item-wrapper">
              <div  nz-col nzSpan="24" class="form-title">
                  <img src="assets/images/employeeDeductibleList.png" alt="">
                  <h3>Các khoản khấu trừ</h3>
              </div>
              <div nz-col nzSpan="24" class="form-container">
                  <table nz-row class="education-table ">              
                        <tr nz-row class="education-table-head salary-table-head">
                          <th nz-col nzSpan="1">STT</th>
                          <th nz-col nzSpan="5">Tên khoản khấu trừ</th>
                          <th nz-col nzSpan="9">Giá trị</th>
                          <th nz-col nzSpan="9"></th>
                        </tr>        
                        <div nz-col nzSpan="24" *ngFor="let control of deductibleSalarys.controls; index as i">
                          <form nz-row nz-form class="salary-form" [formGroup]="control">
                              <td nz-col nzSpan="1">
                                <nz-form-item class="input-item">
                                  <nz-form-control>
                                    {{i + 1}}
                                  </nz-form-control>
                              </nz-form-item >
                              </td>
                              <td nz-col nzSpan="5">
                                <nz-form-item class="input-urgent-item"  >         
                                    <nz-form-control >
                                      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="--Chọn--" formControlName="deductibleName">
                                        <nz-option nzLabel="Khấu trừ ăn trưa" nzValue="1"></nz-option>
                      
                                      </nz-select>
                                    </nz-form-control>
                              </nz-form-item >
                              </td>
                              <td nz-col nzSpan="9">
                                <nz-form-item class="input-item">
                                  <nz-form-control>
                                    <nz-input-number  style="width: 100%;" [nzFormatter]="formater" [nzMin]="1"  [nzStep]="1" formControlName="value"></nz-input-number>
                                  </nz-form-control>
                              </nz-form-item >
                              </td>
  
                              <td nz-col nzSpan="9">
                                <nz-form-item class="input-item">
                                  <nz-form-control>
                                    <div class="wrapper-icon" style="float: right;">
                                      <span nz-icon nzType="delete" nzTheme="outline"></span>
                                    </div>
                                  </nz-form-control>
                                </nz-form-item >       
                              </td>
  
                            </form>
                        </div>

                        <tfoot nz-col nzSpan="24">
                            <div nz-row class="education-table-footer">
                                <div class="education-add-btn" (click)="handleAddForm('deductibleSalary')">
                                    <span nz-icon nzType="plus" nzTheme="outline"></span>
                                    <span>
                                        Thêm khấu trừ
                                    </span>
                                </div>
                                
                            </div>
                        </tfoot>
                                                  
                    </table>
              </div>
          </div>

          
        </div>
      </nz-tab>
    </nz-tabset>
    <div nz-col nzSpan="24" class="footer-btn">
        <button nz-button >
          <span nz-icon nzType="close"></span>
          Hủy bỏ
        </button>
        <button nz-button nzDanger nzType="primary" (click)="handleSaveForm()">
          <span nz-icon nzType="save"></span>
          Lưu
        </button>
    </div>
    
</div>


<ng-template #inputClearTpl>
  <span
    nz-icon
    class="ant-input-clear-icon"
    nzTheme="fill"
    nzType="close-circle"
    *ngIf="inputValue"
    (click)="inputValue = null"
  ></span>
</ng-template>