<div nz-row id="app">
  <app-header nz-col nzSpan="24"></app-header>
  <ng-content select="app-header" ></ng-content>
  <div nz-col nzSpan="24" class="main-wrapper">
    <div nz-row class="main">
        <app-sidebar nz-col nzSpan="3"></app-sidebar>
      <div nz-col nzSpan="21" class="content-wrapper">
          <div nz-col nzSpan="24" *ngIf="componentRendering === 1">
            <app-home nz-col nzSpan="24"></app-home>         
          </div>

          <div nz-col nzSpan="24" *ngIf="componentRendering === 2">
            <app-employee-action nz-col nzSpan="24"></app-employee-action>        
          </div>
      </div>
    </div>
   </div>
</div>
