<div nz-row id="app">
  <app-header nz-col nzSpan="24"></app-header>
  <ng-content select="app-header" ></ng-content>
  <div nz-col nzSpan="24" class="main-wrapper">
    <div nz-row class="main">
        <app-sidebar nz-col nzSpan="3"></app-sidebar>
        <ng-content select="app-sidebar"></ng-content>
      <div nz-col nzSpan="21" class="content-wrapper">
          <div nz-col nzSpan="24">
            <h2>Hồ sơ nhân viên</h2>
            <app-home nz-col nzSpan="24"></app-home>
            <ng-template select="app-home"></ng-template>
          </div>
      </div>
    </div>
   </div>
</div>
