.table-wrapper{
    margin-top: 20px;
    .table-icon-list{
        .icon-wrapper{
            border: 1px solid #EEEEEE;
            width: max-content;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            float: left;
            margin-right: 5px;
            cursor: pointer;
        }
    }
    .table-user-wrapper{
        .avatar{
            width: 46px;
            height: 46px;
            display: flex;
            border-radius: 50%;
            background-color: rgba(0, 0, 255, 0.699);
            justify-content: center;
            align-items: center;
            color: #FFFFFF;
            font-weight: bold;
            transform: translateY(25%);
        }
        .info-wrapper{
            margin-left: 10px;
            span{
                &:first-child{
                    font-size: 18px;
                    font-weight: 500;
                }
            }
            .info-item{
                display: flex;
                align-items: center;
            }
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
        display: flex;
        align-items: flex-start;
        width: 100%;
    }
}
