.home-add-btn{
    float: right;
    border-radius: 5px;
}


#app{
    background-color: #EEEEEE;
    .header-wrapper{
        width: 100%;
        height: 69px;
        background-color: #FFFFFF;
        .header{
            height: 69px !important;
            .header-logo{
                text-align: center;
                font-weight: 500;
                font-size: 25px;
                color: #333;
            }
            .navbar-wrapper{
                height: 100%;
                .navbar{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    padding: 0 20px;
                    .menu-icon{
                        font-size: 20px;
                        font-weight: bold;
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .user-name{
                        height: 100%;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        .user-icon{
                            font-size: 16px;
                            font-weight: bold;
                        }
                        .down-icon{
                            font-size: 10px;
                            display: flex;
                            font-weight: bold;
                            height: 100%;
                            justify-content: center;
                            align-items: center;
                        }
                        span{
                            &:nth-child(2){
                                font-size: 16px;
                                font-weight: 500;
                                margin: 0 5px;
                                color: gray;
                            }
                        }
                    }
                }
            }
        }
    }
    .main-wrapper{
        height: calc(100vh - 69px);
        .main{
            height: 100%;
            .sidebar-wrapper{
                height: 100%;
                background-color:#023047 ;
                .sidebar{
                    background-color: #023047;
                    
                   
                }
            }
            .content-wrapper{
                height: calc(100vh - 69px);
                overflow-y: auto;
                padding: 20px;
            }
        }
    }
}
