<div nz-row>
   <div nz-col nzSpan="24">
      <div nz-row>
        <h2 nz-col nzSpan="4">Hồ sơ nhân viên</h2>
        <div nz-col nzSpan="20">
          <button nz-button nzDanger  nzType="primary" class="home-add-btn">
            <span nz-icon>
              <svg>
                <path d="M482 152h60q8 0 8 8v704q0 8-8 8h-60q-8 0-8-8V160q0-8 8-8z"></path>
                <path d="M176 474h672q8 0 8 8v60q0 8-8 8H176q-8 0-8-8v-60q0-8 8-8z"></path>
              </svg>
            </span>
             Thêm mới
          </button>
        </div>
      </div>
    </div>
   <app-filter nz-col nzSpan="24"></app-filter>
   <app-table-list nz-col nzSpan="24"></app-table-list>
   <ng-content select="app-filter"></ng-content>
   <ng-content select="app-table-list"></ng-content>
</div>