<div  class="sidebar-wrapper">
    <div class="wrapper">
       
        <ul nz-menu nzMode="inline" nzTheme="dark" [nzInlineCollapsed]="isCollapsed">
          <li
            nz-menu-item
            nz-tooltip
            nzTooltipPlacement="right"
            [nzTooltipTitle]="isCollapsed ? 'Navigation One' : ''"
            nzSelected
          >
            <span nz-icon nzType="home"></span>
            <span>Trang chủ</span>
          </li>
          <li nz-submenu nzTitle="Nhân sự" nzIcon="user">
            <ul>
              <li nz-menu-item>Hồ sơ nhân viên</li>
              <li nz-menu-item>Hợp đồng</li>
            </ul>
          </li>
         
        </ul>
      </div>
</div>